@import "tailwindcss";

:root {
  color-scheme: light;

  --background: #fdfdfd;
  --text: #111111;
  --primary: #e63946;
  --accent: #1d3557;
}

.dark {
  color-scheme: dark;

  --background: #1a1a1a;
  --text: #f1f1f1;
  --primary: #ff6b6b;
  --accent: #a8dadc;
}

@theme {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
}

body {
  min-height: 100vh;
  background-color: var(--background);
  color: var(--text);
}
